<html>

<head>
    <script src="./../js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <script src="../js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href="./../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
    {{#if opensignupModal}}
    <script type="text/javascript">
        $(function () {
            $("#signup").modal('show');
        });
    </script>
    {{/if}}
    
    {{#if openloginModal}}
    <script type="text/javascript">
        $(function () {
            $("#login").modal('show');
        });
    </script>
    {{/if}}
    
    
    <!--------NAV BAR-------->

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">TAMEME-0</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class = "fa fa-search"></i></button>
            </form>
            
            <a class="tagLine text-light mx-auto d-block" href="/"><i class = "fab fa-accessible-icon"></i>Sit down and meme.</a>
            <!--              <button class="btn btn-outline-dark mx-auto d-block logoNavbar" type="submit"></button>-->
            
            <ul class="navbar-nav ml-auto">
                <!-- PICTURE WITH LOG-IN  -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle profile-image indexToggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <a class="text-dark nav-link login" data-toggle="modal" data-target="#login"><i class="fas fa-sign-in-alt"></i>Login</a>
                        <li class="divider"></li>
                        <a class="text-dark nav-link signup" data-toggle="modal" data-target="#signup"> <i class="fa fa-user-plus"></i>Sign up</a>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--END OF NAV BAR-->
    
    <!--BODY-->
    {{#each posts}}
    <div class ="container col-md-6">
        
        <div class="border row post col-md-12">
            <div class="titleContainer row col-md-12" data-toggle="modal" data-target="#a{{_id}}">
                <h2 class="text-left">{{title}}</h2>
            </div>
            <br>
            <a class = "userTag" data-toggle="modal" data-target="#login" style="color: #09f;">User: {{user}}</a>
            <div id="meme1" class="row col-md-12 align-items-center memeContainer m-0" data-toggle="modal" data-target="#a{{_id}}">
                <img class="img-fluid rounded mx-auto d-block" id="meme" src="post/photo/{{_id}}">
            </div>
        </div>
    </div>
    {{/each}}

    <!--END OF BODY-->
    
    <!--MODAL-->
    {{#each posts}}
    <div class="modal fade" id="a{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header row col-xs-12">
                    <div class="modal-2nd-header">
                        <button type="button" class="close mr-auto ml-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title text-left ml-2" id="exampleModalLabel">{{title}}</h5>
                        
                    </div>    
                    <a class = "userTag ml-2" data-toggle="modal" data-target="#login"  data-dismiss="modal" aria-label="Close" style="color: #09f;">User: {{user}}</a>
                    
                </div>
                
                <img class="img-fluid rounded mx-auto d-block" src="../post/photo/{{id}}">
                <br>
                <div class="text-dark ml-2">
                    <!--                    ADD HANDLEBARS FOR TAGS-->
                    {{#each tags}}
                    <a class="tag mr-5" style="color: #09f;">{{this}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    
    <form>
        <div class ="container col-md-6">
            
            <div class="border row post col-md-12">
                <div class="titleContainer row col-md-12" data-toggle="modal" data-target="#memeModal1">
                    <h2 class="text-left">After finding out that a freeloader got a better grade than you</h2>
                </div>
                <a class = "userTag" data-toggle="modal" data-target="#login" style="color: #09f;">janedoe_</a>
                <div id="meme1" class="row col-md-12 align-items-center memeContainer m-0" data-toggle="modal" data-target="#memeModal1">
                    <img class="img-fluid rounded mx-auto d-block" id="meme" src="Photos/meme1.jpg">
                </div>
                
                <!--
<div class="text-dark row col-md-12" style = "position: flex-row;">
<div class = "mr-4">
<input type="button" class="btn btn-primary" id="editButton" value = "Edit" data-toggle="modal" data-target="#editPost">
</div>
<form action = "deletePost" method="post">
<div class = "mr-4">
<input type="button" class="btn btn-primary" id="deleteButton" value = "Delete">
</div>
</form>
</div>
-->
            </div>            
        </div>
    </form>
    
    <!--END OF BODY-->
    
    <!--MODAL-->
    
    <div class="modal fade" id="memeModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header row col-xs-12">
                    <div class="modal-2nd-header">
                        <button type="button" class="close mr-auto ml-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title text-left ml-2" id="exampleModalLabel">After finding out that a freeloader got a better grade than you</h5>
                        
                    </div>    
                    
                    <a class = "userTag ml-2" data-toggle="modal" data-target="#login"  data-dismiss="modal" aria-label="Close" style="color: #09f;">janedoe_</a>
                    
                </div>
                
                <img class="img-fluid rounded mx-auto d-block" src="Photos/meme1.jpg">
                <div class="text-dark ml-2">
                    <a class="tag mr-5" style="color: #09f;">#studentlife</a><a class="tag mr-5" style="color: #09f;">#hayoung</a><a class="tag mr-5" style="color: #09f;">#apink</a> 
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class = "ml-2">
                    {{goodSignup}}
                </div>
                <div class="modal-body">
                    <form action = "user/login" method = "post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username:</label>
                            <input input type="text" class="form-control" id="usernameLoginForm" name = "loginUsername" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="passwordLoginForm" name = "loginPassword" required>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="loginButton">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class = "ml-2">
                    {{errorSignup}}
                </div>
                <div class="modal-body">
                    <form action = "user/register" method = "post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="usernameSignupForm" name = "signupUsername" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="passwordSignupForm" name = "signupPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description</label>
                            <input type="text" class="form-control" id="descriptionSignupForm" name = "signupDescription" required>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="signupButton">Sign Up</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
<!--END OF MODAL-->

</body>

</html>